@model MVC.Models.Cliente
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #login-div{
            position:absolute;
            left:40%;
            top:40%;
            border:1px solid #ccc;
            padding:10px 10px;

        }
        .field-validation-error{
            color:red;
        }
    </style>
</head>
<body>
    <div id="login-div">
        @using (Html.BeginForm("Authorized", "Login", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td style="text-decoration:underline">Application DILIYA</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.CedulaC)</td>
                    <td>@Html.EditorFor(model => model.CedulaC)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.CedulaC)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Contraseña)</td>
                    <td>@Html.EditorFor(model => model.Contraseña)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Contraseña)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="field-validation-error"> </label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>

                        <input type="submit" name="name" value="Login" />
                        <input type="reset" name="name" value="Reset" />

                    </td>
                </tr>
            </table>
        }

        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>
</body>
</html>
