@model MVC.Models.Tramite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tramite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tramitador.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tramitador.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idtramite }) |
    @Html.ActionLink("Back to List", "Index")
</p>
