@model MVC.Models.Tramite_condinero

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tramite_condinero</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estado_tramite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_tramite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_tramite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_tramite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_tramite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_tramite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_tramite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_tramite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiempo_tramite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiempo_tramite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar_origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar_origen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar_Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar_Destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costo_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo_total)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
