@model IEnumerable<MVC.Models.Tramite_condinero>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado_tramite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_tramite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_tramite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_tramite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transporte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tiempo_tramite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lugar_origen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lugar_Destino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo_total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_tramite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_tramite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_tramite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_tramite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transporte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tiempo_tramite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lugar_origen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lugar_Destino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo_total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_tramite }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_tramite }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_tramite })
        </td>
    </tr>
}

</table>
